body {
    font: normal 15pt Arial;
    background: cornflowerblue;
}

header {
    color: rgb(255, 244, 220);
    text-align: center;
}

section {
    background: cornsilk;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);
}

footer {
    color: cornsilk;
    text-align: center;
    font-style: italic;
}

img {
    width: 250px;
    height: 250px;
}

div {
    text-align: center;
    padding: 10px;
}